@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

body {
  position: relative;
  width: 24rem;
  margin: 0 auto;
  margin-top: 9.125rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#6565e7), to(#af67e9));
  background-image: linear-gradient(0, #6565e7, #af67e9);
}

body header {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -6.625rem;
  left: -1rem;
  z-index: 1;
}

body header::after {
  content: "";
  position: absolute;
  top: 105px;
  left: 85px;
  right: 0;
  bottom: -10px;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

body header img {
  content: url("../images/illustration-woman-online-mobile.svg");
}

body .card {
  margin: 3.5rem 1.5rem 2.875rem 1.5rem;
  background-color: white;
  border-radius: 20px;
  padding: 8.5rem 1.5rem 2.875rem 1.5rem;
}

body .card h1 {
  margin-bottom: 1.625rem;
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
}

body .card section {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #e7e7e9;
}

body .card section .title {
  margin-bottom: 0;
}

body .card section .title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: margin-bottom 0.5s linear;
  transition: margin-bottom 0.5s linear;
}

body .card section .title a h2 {
  display: inline;
  font-size: 0.625rem;
  color: #4a4b5e;
}

body .card section .title a svg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .card section p {
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 0.625rem;
  color: #787887;
  -webkit-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

body .card section:not(:target) h2 {
  font-weight: 400;
}

body .card section:not(:target) svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body .card section:target .title {
  margin-bottom: 1.125rem;
}

body .card section:target h2 {
  font-weight: 700;
}

body .card section:target p {
  max-height: 100px;
}

body .card section:target svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes turnArrowUp {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes turnArrowUp {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes turnArrowDown {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes turnArrowDown {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=main.css.map */