@import "colors";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

#toggleCB1,
#toggleCB2,
#toggleCB3,
#toggleCB4,
#toggleCB5 {
  display: none;
}

body {
  height: 100vh;
  width: 24rem;
  margin: 0 auto;
  padding-top: 9.125rem;
  background-image: linear-gradient(0, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    width: 57.5rem;
  }

  .positionHelper {
    position: relative;

    @media screen and (min-width: 1200px) {
      &:after {
        content: "";
        position: absolute;
        top: 13rem;
        left: -8rem;
        height: 9rem;
        width: 12rem;
        background-image: url("../images/illustration-box-desktop.svg");
        background-repeat: no-repeat;
        z-index: 2;
      }
    }

    .card {
      position: relative;
      margin: 0 1.5rem 2.875rem 1.5rem;
      background-color: white;
      border-radius: 20px;
      padding: 8.5rem 1.5rem 2.875rem 1.5rem;

      @media screen and (min-width: 1200px) {
        width: 100%;
        margin: 0 auto;
        padding: 4.5rem 6rem 4.5rem 29.875rem;
        overflow: hidden;
      }

      header {
        position: absolute;
        width: 30rem;
        top: -6.625rem;
        left: 1rem;
        z-index: 1;

        @media screen and (min-width: 1200px) {
          top: 3rem;
          left: -5rem;
        }

        &::after {
          content: "";
          position: absolute;
          top: 105px;
          left: 28px;
          right: 0;
          bottom: -10px;
          background-image: url("../images/bg-pattern-mobile.svg");
          background-repeat: no-repeat;
          z-index: -1;

          @media screen and (min-width: 1200px) {
            background-image: url("../images/bg-pattern-desktop.svg");
            top: -23rem;
            left: -30.5rem;
            bottom: -11rem;
          }
        }

        img {
          content: url("../images/illustration-woman-online-mobile.svg");

          @media screen and (min-width: 1200px) {
            content: url("../images/illustration-woman-online-desktop.svg");
          }
        }
      }

      h1 {
        margin-bottom: 1.625rem;
        font-size: 1.625rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }

      section {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        border-bottom: 1px solid $lightGrayishBlue;

        .title {
          margin-bottom: 0; // open 1.125rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          transition: all 1s linear;

          h2 {
            display: inline;
            font-size: 0.625rem;
            color: $veryDarkGrayishBlue;
          }

          svg {
            transition: all 1s linear;
          }

          @media screen and(min-width:1200px) {
            &:hover {
              h2 {
                color: $softRed;
                cursor: pointer;
              }
            }
          }
        }

        p {
          margin-top: 0; //1.125rem;
          max-height: 0;
          overflow: hidden;
          font-size: 0.625rem;
          color: $darkGrayishBlue;
          transition: all 1s linear;
        }

        #toggleCB1:checked ~ p,
        #toggleCB2:checked ~ p,
        #toggleCB3:checked ~ p,
        #toggleCB4:checked ~ p,
        #toggleCB5:checked ~ p {
          max-height: 100px;
          margin-top: 1.125rem;
        }

        #toggleCB1:checked ~ .title,
        #toggleCB2:checked ~ .title,
        #toggleCB3:checked ~ .title,
        #toggleCB4:checked ~ .title,
        #toggleCB5:checked ~ .title {
          h2 {
            font-weight: 700;
          }
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
